$colors: (
  primary: #275A9B,
  primary-darken1: darken(#275A9B,10),
  primary-darken2: darken(#275A9B,20),
  primary-lighten1: lighten(#275A9B,10),
  primary-lighten2: lighten(#275A9B,20),

  secondary: #03A8EF,
  secondary-darken1: darken(#03A8EF,10),
  secondary-darken2: darken(#03A8EF,20),
  secondary-lighten1: lighten(#03A8EF,10),
  secondary-lighten2: lighten(#03A8EF,20),
  secondary-lighten3: lighten(#03A8EF,30),
  secondary-lighten4: lighten(#03A8EF,40),
  secondary-lighten5: lighten(#03A8EF,50),

  terciary: #FDFEFF,
  terciary-darken1: darken(#FDFEFF,10),
  terciary-darken2: darken(#FDFEFF,20),
  terciary-darken3: darken(#FDFEFF,30),
  terciary-lighten1: lighten(#FDFEFF,10),

  background1: #00A5E5,
  backgroundd2:  	#00AAE7,

  shadow: #000000,
  shadow-transparent1: transparentize(#000000,0.1),
  shadow-transparent2: transparentize(#000000,0.2),
  shadow-transparent3: transparentize(#000000,0.3),
  shadow-transparent4: transparentize(#000000,0.4),

);

$shadow-sizes: (
  smallSize: 0 1px 1px 0,
  mediumSize: 0 3px 3px 0,
  largeSize: 0 4.5px 4.5px 0
);

$profile-sizes: (
  BoxWidth: 80%,
  BoxPadding: 2%,
  HeaderFont: 23px
);

@function profileSize($size){
  @return map-get($profile-sizes,$size);
}

@function shadowSize($size) {
  @return map-get($shadow-sizes,$size);
}

@function color($color-name) {
  @return map-get($colors,$color-name);
}
