@import "./master.scss";

.cardBox{
  background-color: color(primary-darken1);
  padding: 2%;
  display: inline-block;
  margin: 2%;
  width: 96%;
  text-align: center;
  height: auto;
  box-shadow: shadowSize(mediumSize) color(shadow-transparent3);
}


.cardName{

  max-width: 98%;
  padding: 0% 0%;

  color: color(terciary);
  background-color: color(primary);

  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  display: inline-block;
  height: auto;
  width: auto;
}

.card{
  display: inline-block;
  padding-bottom: 3%;
  padding-top: 3%;
  height: auto;
  background-color: color(primary-lighten1);
}

.labelBox{
  text-align: left;
  display: block;
  height: auto;
  padding: 3%;
  margin: 3% 0%;
}

.labelElem{
  display: inline-flex;
  height: auto;
  width: auto;
  padding: 1% 2%;
  border-radius: 15px;

  font-size: 12px;
  font-weight: bold;

  color: color(terciary);
  background-color: blue;
    box-shadow: shadowSize(smallSize) color(shadow-transparent3);
}

.descriptionBox{

  width: 96%;
  padding: 2% 2%;
  margin: 3% 2% 3% 2%;
  text-align: left;
  height: auto;

  color: color(terciary);
  background-color: color(secondary);
    box-shadow: shadowSize(smallSize) color(shadow-transparent3);

}

.memberBox{
  text-align: left;
  width: 96%;
  padding: 2% 2%;
  margin: 3% 2% 3% 2%;
  height: auto;
  color: color(terciary);
  background-color: color(secondary);
    box-shadow: shadowSize(smallSize) color(shadow-transparent3);

}

.memberElem{
  padding: 2% 2%;

}
