.cardBox {
  background-color: #1d4272;
  padding: 2%;
  display: inline-block;
  margin: 2%;
  width: 96%;
  text-align: center;
  height: auto;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
}

.cardName {
  max-width: 98%;
  padding: 0% 0%;
  color: #FDFEFF;
  background-color: #275A9B;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  display: inline-block;
  height: auto;
  width: auto;
}

.card {
  display: inline-block;
  padding-bottom: 3%;
  padding-top: 3%;
  height: auto;
  background-color: #3172c4;
}

.labelBox {
  text-align: left;
  display: block;
  height: auto;
  padding: 3%;
  margin: 3% 0%;
}

.labelElem {
  display: inline-flex;
  height: auto;
  width: auto;
  padding: 1% 2%;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #FDFEFF;
  background-color: blue;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.descriptionBox {
  width: 96%;
  padding: 2% 2%;
  margin: 3% 2% 3% 2%;
  text-align: left;
  height: auto;
  color: #FDFEFF;
  background-color: #03A8EF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.memberBox {
  text-align: left;
  width: 96%;
  padding: 2% 2%;
  margin: 3% 2% 3% 2%;
  height: auto;
  color: #FDFEFF;
  background-color: #03A8EF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.memberElem {
  padding: 2% 2%;
}
