@import "./master.scss";

.listBox {
  margin: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  white-space: normal;
  display: inline-block;
  max-height: 96%;
  width: 29%;
  background: color(terciary-darken3);
  box-shadow: shadowSize(mediumSize) color(shadow-transparent3);
}

.listName{
  font-weight: bold;
  margin: 2%;
  display: inline-block;
  height: auto;
  width: auto;
}

.listContent{
    background: color(terciary-darken3);
    overflow: auto;
    max-height: 90%;
    height: auto;
}

.listBox:first-child{
  margin-left: 1%;
}

.listBox:last-child{
  margin-right: 1%;
}
