<div id="bg1">
</div>
<div id="bg2">
</div>
  <div class="profileHeader">
      <div class="profileName">
        Dino's Profile
      </div>
      <div class="currentBoardName">
        @Trello App
      </div>
  </div>
  <div class="profileInfoRow">
      <div class="profileImageBlock">
        <img class="profileImage" src="/img/profileImage.jpg" alt="Profile Image">
      </div>
      <div class="profileInfo">
          <div class="nameOfPerson infoBlock">
          <p>  Dino Shambar</p>
          </div>
          <div class="usernameOfPerson infoBlock">
            <p>dinoshambar</p>
          </div>
            <div class="emailOfPersono infoBlock">
              <p>dinoshambar@inplayer.com</p>
            </div>
      </div>
  </div>
