{{define "Index"}}
<head>
    <title>QuizGame </title>
</head>
<body>
    <input type="hidden" name="number" value="{{.Num}}"/>
    <h1>QuizGame</h1>
   <a href="/start">START</a>
    </body>
</html>
{{ end }}