{{define "Start"}}
<head>
    <title>QuizGame </title>
</head>
<body>
    <form method="POST" action="/start" >
   
    <input type="hidden" name="id"/>
    {{.Question}}
    Answer:<input type="text" name="Answer"><br>
   
   <input type="submit" value="Next" name="Next"><br>
</form>

    
   
   
    </body>
</html>
{{ end }}