* {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: red;
}

.listBox {
  padding: 0.5%;
  display: inline-block;
  max-height: 100%;
  overflow: auto;
  width: 35%;
  background:rgb(173, 238, 227);
}

.listName{
  display: inline-block;
  height: auto;
  width: auto;
}
